__pycache__/
.venv/
*.py[cod]



.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

.DS_Store
.idea/
*.iml
*.log
*.tmp
*.swp
*.swo
*.bak
*.orig
*.zip
*.tar.gz
*.egg-info/
dist/
*.egg
*.egg-info/


